body {
   
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../assets/images/sale.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}


/* HEADER */
.top-bar {
    background: #0a2a43;;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
}

/* CONTAINER */
.container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

/* FORM CARD */
.card {
    background: white;
    padding: 30px;
    border-radius: 16px;
    width: 100%;
    max-width: 520px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h2 {
    margin-bottom: 20px;
    color: #0a2a43;;
}

/* INPUTS */
label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #0a2a43;;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0a2a43;;
}

/* MESSAGE */
#message {
    margin-top: 15px;
    font-weight: bold;
}

/* logo */
.logos{
    width: 50px;
    height: 50px;
}