* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eaeaea;
}

/* HEADER */
.top-bar {
    background: #0a2a43;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h1 {
    font-size: 20px;
}

.user-info {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* LAYOUT */
.dashboard-container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #feffff;
    min-height: calc(100vh - 60px);
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    
    
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 16px 20px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #0a2a43;
    margin-top: 15px;
}

.sidebar li:hover,
.sidebar .active {
    background: hsl(220, 83%, 77%);
    font-weight: bold;
}


/* CONTENT */
.content {
    padding: 30px;
    flex: 1;
}

.content h2 {
    margin-bottom: 15px;
    color: #0a2a43;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-bottom: 40px;
}

.card {
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.card-info {
    padding: 20px;
}

.card-info h3 {
    font-size: 14px;
    color: #6b7280;
}

.card-info p {
    font-size: 22px;
    font-weight: bold;
    margin-top: 6px;
    color: #0a2a43;
}

/* ACTIONS */
.actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.action-card {
    background: #0a2a43;
    padding: 30px;
    text-align: center;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    transition: background 0.3s ease, transform 0.3s ease;
}

.action-card i {
    font-size: 26px;
    color: #f7f8f9;
    margin-bottom: 10px;
}

.action-card:hover {
    background: #09558f;
    color: white;
    transform: translateY(-4px);
}

.action-card:hover i {
    color: white;
}
.text {
    color: #f7f8f9;
}
.logo {
    height: 80px;
    width: auto;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .sidebar {
        display: none;
    }
}
