* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f8;
}

/* HEADER */
.top-bar {
    background: #063053;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LAYOUT */
.dashboard-container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: white;
    min-height: calc(100vh - 60px);
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}

.sidebar li:hover,
.sidebar .active {
    background: #e6f0ff;
    font-weight: bold;
}

/* CONTENT */
.content {
    padding: 30px;
    flex: 1;
}

.content h2 {
    margin-bottom: 15px;
    color: #063053;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
    margin-bottom: 40px;
}

.card {
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}

.card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.card-info {
    padding: 20px;
}

.card-info h3 {
    font-size: 14px;
    color: #6b7280;
}

.card-info p {
    font-size: 22px;
    font-weight: bold;
    margin-top: 6px;
    color: #063053;
}

/* ACTIONS */
.actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.action-card {
    background: #0a2a43;
    padding: 30px;
    text-align: center;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}
.text{
    color: white;
}

.action-card i {
    font-size: 26px;
    margin-bottom: 10px;
    color: white
}

.action-card:hover {
    background: #105d9c;
    color: #0a2a43;
}

.action-card:hover i {
    color: white;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .sidebar {
        display: none;
    }
}
